## Prakriti-Based Financial Wellness Scoring Model

In this notebook, I create a simple and explainable scoring model
to evaluate financial wellness.

The model combines:
- Prakriti-based behavioral traits
- Lifestyle indicators (sleep, meditation)
- Sustainability awareness (ESG score)

The purpose is to show how behavioral concepts can be converted
into a practical, data-driven system.

In [1]:
import pandas as pd

df = pd.read_csv("../data/processed/featured_data.csv")
df.head()

,user_id,prakriti_type,age,gender,stress_level,sleep_hours,activity_level,diet_type,meditation_minutes,profile_created_at,date,transaction_description,category,amount,type,Finance_Health_Score,Prakriti_Index,Sustainability_Score
0,1.0,Kapha,39.0,M,Low,6.8,Moderate,Vegetarian,3.0,16-08-2024,02-01-2020,Score each.,Food & Drink,1485.69,Expense,0,3.0,30.0
1,2.0,Vata,23.0,M,Medium,7.4,Active,Vegetarian,0.0,27-08-2025,02-01-2020,Quality throughout.,Utilities,1475.58,Expense,0,1.0,10.0
2,3.0,Pitta,50.0,M,Low,7.8,Sedentary,Vegetarian,0.0,01-06-2025,04-01-2020,Instead ahead despite measure ago.,Rent,1185.08,Expense,0,2.0,20.0
3,4.0,Kapha,29.0,M,Medium,6.4,Active,Mixed,0.0,12-07-2025,05-01-2020,Information last everything thank serve.,Investment,2291.00,Income,0,3.0,30.0
4,5.0,Pitta,37.0,M,Medium,4.9,Moderate,Vegetarian,1.0,12-06-2024,13-01-2020,Future choice whatever from.,Food & Drink,1126.88,Expense,0,2.0,20.0

## Model Logic

The wellness score is calculated using three components:

1. Prakriti Score  
   Reflects behavioral stability and decision patterns.

2. Lifestyle Score  
   Derived from sleep duration and meditation practice.

3. Sustainability Score  
   Represents ESG awareness and responsible behavior.

Each component contributes to the final wellness score using fixed weights.

In [2]:
def prakriti_score(prakriti):
    if prakriti == "Kapha":
        return 3
    elif prakriti == "Pitta":
        return 2
    elif prakriti == "Vata":
        return 1
    else:
        return 0

df["Prakriti_Score"] = df["prakriti_type"].apply(prakriti_score)
df[["prakriti_type", "Prakriti_Score"]].head()

  prakriti_type  Prakriti_Score
0         Kapha               3
1          Vata               1
2         Pitta               2
3         Kapha               3
4         Pitta               2

In [3]:
df["Lifestyle_Score"] = (
    df["sleep_hours"] +
    df["meditation_minutes"]
)

df[["sleep_hours", "meditation_minutes", "Lifestyle_Score"]].head()

   sleep_hours  meditation_minutes  Lifestyle_Score
0          6.8                 3.0              9.8
1          7.4                 0.0              7.4
2          7.8                 0.0              7.8
3          6.4                 0.0              6.4
4          4.9                 1.0              5.9

In [4]:
df["Final_Wellness_Score"] = (
    df["Prakriti_Score"] * 0.3 +
    df["Lifestyle_Score"] * 0.3 +
    df["Sustainability_Score"] * 0.4
)

df[["prakriti_type", "Final_Wellness_Score"]].head()

  prakriti_type  Final_Wellness_Score
0         Kapha                 15.84
1          Vata                  6.52
2         Pitta                 10.94
3         Kapha                 14.82
4         Pitta                 10.37

In [5]:
df.groupby("prakriti_type")["Final_Wellness_Score"].mean()

prakriti_type
Kapha    15.931667
Pitta    11.363333
Vata      7.098919
Name: Final_Wellness_Score, dtype: float64

### Interpretation

Kapha profiles tend to score higher due to stable behavioral traits
and consistent lifestyle patterns. Vata profiles show lower average
scores, indicating higher variability and a greater need for
personalized financial guidance.

This validates the usefulness of behavioral segmentation
in financial wellness assessment.

## Business Use Case

This scoring model can be applied in:
- FinTech platforms for personalized advisory
- ESG-driven financial institutions
- Wellness and behavior-based financial planning systems

The model is transparent, explainable, and easy to integrate.

Implemented explainable Prakriti-based financial wellness scoring model